ion-menu::part(backdrop) {
    background-color: rgba(107, 102, 107, 0.5);
}
  
ion-menu::part(container) {
    border-radius: 0 20px 20px 0;

    box-shadow: 4px 0px 16px rgba(98, 138, 139, 0.18);

    background-color: #d7eef1;
}

ion-header {
    background-color: #d7eef1;
}

